header {
  background-image: url('../img/fondo/fondo0.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100vh;
}

.tituloHeader{
  font-family: 'Janda';
  font-size: 5em;
  line-height: 0.6;
    border-radius: 0.5;
   text-shadow: 5px 1px #ce3551;
}

.bg-black{
  background-color: black;
}


  @font-face {
      font-family: "Janda";
      src: url("../font/JandaElegantHandwriting.ttf");
    }


section {
  padding: 80px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
section#acerca{
  background-image: url('../img/fondo/fondo2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

section#habilidades{
  background-image: url('../img/fondo/bnfondo.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

section#portafolio{
  background-color: rgb(103, 1, 40);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
section#contactos{
  background-color: rgb(60,60,60);
  color: white;
}
.subAcerca{
  margin-bottom: : 3em;
    font-size: 1.5em;
    text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #ce3551;
}

.textAcerca{
   font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
  color: white;
  line-height: 30px;

}

.texto{
   font-size: 1.3em;
  font-family: 'Dosis', sans-serif;
  color: white;

}
.logo{
  width: 100px;
}
.nombre{
  width: 500px;
}
.bgGray{
  background-color: rgba(17,21,24,0.9);
  padding: 3%;
  border-radius: 3%;
}
.bgRed{
  background-color: rgba(157,8,11,0.5);
  padding: 5%;
  border-radius: 3%;
}
.fotoAcerca{
  margin: 0;
  width: 35em;
  border-radius: 2em;
}

.six-sec-ease-in-out {
  -webkit-transition: width 6s ease-in-out;
  -moz-transition: width 6s ease-in-out;
  -ms-transition: width 6s ease-in-out;
  -o-transition: width 6s ease-in-out;
  transition: width 6s ease-in-out;
}


.portfolioFilter {
  padding: 15px 0;
}

.portfolioFilter a {
  margin: 0.4em;
  font-family: 'Dosis', sans-serif;
  background-color: #FFDDE5;
  color: #DC0336;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
}

.portfolioFilter a.current {
  background: #1e1e1e;
  border: 1px solid #1e1e1e;
  color: #f9f9f9;
}
.portfolioContainer{
  border-radius: 3px;
}
img {
  margin: 5px;
  max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.portafolioItem{

}
.socialWrapper {
  display: flex;
  justify-content: center;
  background: none;
  width: 100%;
}

.fa {
  color: #ce3551;
  transition: 0.5s;
  margin-left: 8px;
  display: block;
}

.fa-hover:hover {
  color: #FD2142;
}
header#contactos{
  background-color: black
}

.white{
  color: white;
}
.cvDownload{
 
text-align: center;
}

.textSoy{
  font-size: 3em;
  font-family: 'Dosis', sans-serif;
  color: white;
  background-color: rgba(17,21,24,0.9);
}

.m-10{
  margin: 30px;
}

.iconFormacion{
  font-size: 70px;
  color: #ce3551;
}

.iconAcerca{
  font-size: 36px !important;
  color: #ce3551;
  display: inline-block;

}

 .introape{
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 3.2em;
      color: #ce3551;
      line-height: 50px;
      margin-bottom: 25px; }

.white{
  color: white;
}
.coral{
 background-color: #ce3551;
}
.coralt{
 color: #ce3551;
}

#soy {
  border-right: 1px solid;
  display:inline-block;
  padding-right:4px;
  animation: 1s infinite blink;
  font-size: 2em;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*.highlighted {
  background:#ce3551;
  color:#fff;
  display:inline-block;
}

@keyframes blink {
  0% {
    border-color: rgba(0,0,0,0);
  }
  49.99% {
    border-color: rgba(0,0,0,0);
  }  
  50% {
    border-color: #ce3551;
  }  
  99.5% {
    border-color: #ce3551;
  }  
}

.m-btn{
  margin-top: 2em;
}

.centro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.img-proy{
  display: inline-block;
  width: 15em;
  height: 10em;
  padding: 0.3em;
}
.mt-1{
 margin-bottom: 1em;
}
.mt-2{
 margin-bottom: 2em;
}
.mtop-1{
 margin-top: 3em;
}
.iconos-acerca{
  margin-top: 3em;
}
.centrar-hab{
  display: table;
  text-align: left;
  margin: 0 auto;
}
.text-hab{
  position: relative;
   font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
   margin-top: 20px;  
}
.brd-rnd{
  border-radius: 2em;
  border: 0.2em solid #ce3551;
  padding: 0.5em;
}
.bgfooter{
  clear: both;
  background-color: black;
}