header {
  background-image: url('../img/fondo/fondo0.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

.tituloHeader{
  font-family: 'Janda';
  font-size: 5em;
  line-height: 0.6;
    border-radius: 0.5;
   text-shadow: 5px 1px #c91e51;
}



  @font-face {
      font-family: "Janda";
      src: url("../font/JandaElegantHandwriting.ttf");
    }


section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
section#acerca{
  background-image: url('../img/fondo/fondo2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

section#habilidades{
  background-image: url('../img/fondo/fondo2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

section#portafolio{
  background-color: rgb(103, 1, 40);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
section#contactos{
  background-color: rgb(60,60,60);
  color: white;
}
.subAcerca{
    font-size: 1.5em;
    text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #e24f83;
}

.textAcerca{
   font-size: 1.5em;
    text-align: justify;
  font-family: 'Dosis', sans-serif;
  color: white;
  line-height: 40px;
}

.texto{
   font-size: 1.3em;
  font-family: 'Dosis', sans-serif;
  color: white;

}
.logo{
  width: 100px;
}
.nombre{
  width: 500px;
}
.titAcerca{
  border: 1px;
  color: #e24f83;
  border-radius: 0.5;
   text-shadow: 2px 1px white;
   font-size: 40px;
}
.bgGray{
  background-color: rgba(17,21,24,0.9);
  padding: 3%;
  border-radius: 3%;
}
.bgRed{
  background-color: rgba(157,8,11,0.5);
  padding: 5%;
  border-radius: 3%;
}
.fotoAcerca{
  width: 200px;

}

.six-sec-ease-in-out {
  -webkit-transition: width 6s ease-in-out;
  -moz-transition: width 6s ease-in-out;
  -ms-transition: width 6s ease-in-out;
  -o-transition: width 6s ease-in-out;
  transition: width 6s ease-in-out;
}


.portfolioFilter {
  padding: 15px 0;
}

.portfolioFilter a {
  font-family: 'Dosis', sans-serif;
  background-color: #FFDDE5;
  margin-right: 6px;
  color: #DC0336;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
}

.portfolioFilter a.current {
  background: #1e1e1e;
  border: 1px solid #1e1e1e;
  color: #f9f9f9;
}
.portfolioContainer{
  border-radius: 3px;
}
img {
  margin: 5px;
  max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.portafolioItem{
  width: 300px;
  height: 150px;
  margin: 5px;
}
.socialWrapper {
  display: flex;
  justify-content: center;
  background: none;
  width: 100%;
}

.fa {
  color: #e24f83;
  transition: 0.5s;
  margin-left: 8px;
  display: block;
}

.fa-hover:hover {
  color: #FD2142;
}
header#contactos{
  background-color: black
}

.white{
  color: white;
}
.cvDownload{
 
text-align: center;
}

.textSoy{
  font-size: 3em;
  font-family: 'Dosis', sans-serif;
  color: white;
  background-color: rgba(17,21,24,0.9);
}

.m-10{
  margin: 30px;
}

.iconFormacion{
  font-size: 70px;
  color: #e24f83;
}

.iconAcerca{
  font-size: 36px !important;
  color: #e24f83;
  display: inline-block;

}

 .introape{
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 3.2em;
      color: #c91e51;
      line-height: 50px;
      margin-bottom: 25px; }